@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

$font-secondary: 'Trade Winds', serif;

$font-primary: 'Josefin Sans', sans-serif;
$primary-color: #ECCDB4;
$secondary-color: #FEA1A1;
$first-bright: #39B5E0;
$second-bright: #EA047E;
