body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ECCDB4, #FEA1A1);
    color: rgb(255, 255, 255);
    // overflow: hidden;
}

.gallery {
    // background-image: url("../../../../../bg3_ai.png");
    // background-size: cover;
    // background-repeat: no-repeat; 
    // background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.character-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

.box_characters-selected1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    z-index: 0;
}

.box_characters-selected2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    z-index: -1;
}

.charcters-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // margin-top: 100px;
    // margin-right: 25px;
    // margin-left: 25px;
}

.character-selected1,
.character-selected2 {
    display: flex;
    flex-direction: column;
    text-align: center;

}

img {
    width: 600px;
    height: 700px;
    object-fit: cover;
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);


}

.character-selected p {
    margin: 5px;
}

.box-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}

h1 {
    text-align: center;

}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    min-width: 100px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #EA047E 0%, #39B5E0 75%);
}

button:hover {
    background-position: right center;
}

button:active {
    top: 2px;
}

.character-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.character-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8vw;
    justify-content: center;

}

.character-item {
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
}

.character-img {
    display: block;
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.character-overlay {
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    height: 0;
    transition: 0.3s ease;
    color: white;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.character-name {
    font-size: 1.1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fighter1,
.fighter2 {
    position: relative;
    border: 5px solid transparent;
    transform: scale(1.1);
    border-radius: 10px;
    border-image-slice: 1;
}

.character-item:hover {
    transform: scale(1.1);
    overflow: hidden;
    border-radius: 10px;
}

.character-item:hover .character-overlay {
    background-color: #39393979;
    margin-bottom: 30px;
    height: 20%;
    width: 100%;
    display: block;
    transform: rotate(5deg);
    overflow: hidden;
    border-top: 2px solid rgba(255, 183, 106, 0.822);
    border-bottom: 2px solid rgba(255, 183, 106, 0.822);
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px) rotate(0deg);
        /* Aplicamos la rotación aquí */
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(-5deg);
        /* Retornamos a la rotación original */
    }
}

.characters-button {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del contenido a una columna */
    align-items: center; /* Centramos los elementos horizontalmente */
    position: fixed;
    bottom: 200px; /* Ajusta la posición a tu preferencia */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.button-ready {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del contenido a una columna */
    align-items: center; /* Centramos los elementos horizontalmente */
    position: fixed;
    top: 150px; /* Ajusta la posición a tu preferencia */
    left: 50%;
    transform: translateX(-50%);


}

.button-arena {
    width: 100vw;
    height: 200px;
    color: #fff;
    padding: 5px 10px;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #EA047E 0%, #39B5E0 75%);
    opacity: 0;
    animation: appear 0.5s ease 0.5s both;
    border: 2px solid transparent; 
}

.button-arena:hover {
    border-color: #FEA1A1;
    background-position: right center;
}

.button-arena:active {
    top: 2px;
}


.grayscale {
    filter: saturate(30%);
    transition: filter 0.5s;

}