.arena_body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arena_fighter1{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#39B5E0;
}

.arena_fighter2{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #EA047E;
}

.arena_fighters{
    height: 70vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img{
        object-fit: cover;
        width: 100%;
    }
}

.arena_names{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 30vw;
    
    
    
}

.arena_hps{
    height: 15vh;
    width: 50%;
    font-size: 1.2vw;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trade Winds', serif;
}

.arena_battle{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}



.startFight{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-image: linear-gradient(315deg, #EA047E 0%, #39B5E0 75%);
    color: white;
    font-family: 'Trade Winds', serif;
    border-color: white;
    cursor: pointer;
    font-size: 1vw;

    &:hover {
      height: 55px;
      width: 305px;
      cursor: pointer;  
      font-size: 1.1vw;
  }
}

// .battle{
//     --border-size: 5px;
//     --border-angle: 0turn;
//     width: 40vw;
//     height: 80vh;
//     background-image: url('https://res.cloudinary.com/dvmkyxyc0/image/upload/v1699358764/Imagen_de_WhatsApp_2023-11-07_a_las_11.07.45_04f4f985_gwoimz.png'),
//     conic-gradient(from var(--border-angle), transparent 0%, #39B5E0, #EA047E);
//     background-size: calc(100% - (var(--border-size) * 2))
//       calc(100% - (var(--border-size) *2)),
//     cover;

//     background-position: center center;
//     background-repeat: no-repeat;
//     animation: bg-spin 3s linear infinite;
//   @keyframes bg-spin {
//     to {
//       --border-angle: 1turn;
//     }
//   }

//   display: flex;
//     flex-direction: column;
//     align-items: center;

// }

// @property --border-angle {
//   syntax: "<angle>";
//   inherits: true;
//   initial-value: 0turn;
// };


.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: calc(100% - (var(--border-size) * 2))
    calc(100% - (var(--border-size) *2)),
    cover;
  width: 40vw;
  height: 95vh;
  background: rgba(106, 106, 106, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
  


.fighterName{
    font-family: 'Trade Winds', serif;
    font-size: 2vw;
    background-image: url('https://res.cloudinary.com/dvmkyxyc0/image/upload/v1699308099/brush-stroke-png-47332_c9pwzb.png ');
    background-repeat: no-repeat; 
    background-size: 20vw; 
    background-position: center;
    width: 30vw;
    text-align: center;
}


.chat{
    display: flex;
    flex-direction: column;
    width: 98.5%;
    height: 100%;
    overflow: scroll;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    

    &::-webkit-scrollbar {
        width: 0; /* Hide scrollbar width for Chrome */
      }
    
      &::-webkit-scrollbar-thumb {
        background: transparent; /* Hide thumb for Chrome */
      }
    
      &::-webkit-scrollbar-track {
        background: transparent; /* Hide track for Chrome */
      }
    
      & {
        scrollbar-width: none; /* Hide scrollbar for Firefox */
      }

    .fighterTwo{
        border-bottom-style: double;
        border-top-style: double;
        border-left-style: double;
        font-size: 1.5vw;
        background-color:#ea047f8f;
        margin-top: 0.6vw;
        margin-left: auto;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
    }

    .fighterOne{
        border-bottom-style: double;
        border-top-style: double;
        border-right-style: double;
        font-size: 1.5vw;
        background-color:#39b6e098;
        margin-top: 0.6vw;
        margin-right: auto;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
    }

    .noFighter{
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-size: 1.5vw;
        background-color: rgba(0, 0, 0, 0.644);
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
        margin-top: 0.6vw;
        border-style: double;
    }

    .bothFighters{
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      font-size: 1.5vw;
      background-color: rgba(0, 0, 0, 0.644);
      padding-left: 1vw;
      padding-right: 1vw;
      padding-top: 0.3vw;
      padding-bottom: 0.3vw;
      margin-top: 0.6vw;
      border-style: double;
  }
}

.health-bar {
  width: 100%;
  height: 3vh;
  background-color: rgba(5, 0, 0, 0.733); /* Initial health bar color */
  border: 2px solid #fffdfd;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.health-bar-inner-full {
  height: 100%;
  background-color: rgb(0, 255, 21); /* Health level color */
  transition: width 0.3s ease-out; /* Add a smooth transition for the width change */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-bar-inner3 {
  height: 100%;
  background-color: rgb(0, 255, 21); /* Health level color */
  transition: width 0.3s ease-out; /* Add a smooth transition for the width change */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-bar-inner2 {
  height: 100%;
  background-color: rgb(255, 166, 0); /* Health level color */
  transition: width 0.3s ease-out; /* Add a smooth transition for the width change */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-bar-inner1 {
  height: 100%;
  background-color: rgb(255, 0, 0); /* Health level color */
  transition: width 0.3s ease-out; /* Add a smooth transition for the width change */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.abilityButton {
  background-color: rgba(0, 0, 0, 0.842);
  margin-right: 1vw;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  text-align: center;
  color: white;
  border-width: 2px;
  font-family: 'Trade Winds', serif;

  &:hover {
    background-image: linear-gradient(315deg, #ECCDB4 0%, #FEA1A1 75%);
    cursor: pointer;  
}
}

.hpText{
  margin: 0%;
}

.losingFighter{
  filter: saturate(10%);
  transition: filter 0.5s;
}

.winningFighter{
  filter: drop-shadow(12px 8px 4px #fffb0f);
}

/* Estilos CSS personalizados para el mensaje del ganador */
.winner-message-container {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-size: 120% auto;
  position: fixed;
  width: 100vw;
  height: 200px;
  background-image: linear-gradient(315deg, #EA047E 0%, #39B5E0 75%);
  opacity: 0;
  border: 2px solid transparent;
  animation: slideIn 3s forwards;
  padding-bottom: 30%;
}

.winner-text {
  font-family: 'Trade Winds', serif;
  font-size: 5vw;
  color: #fff;
  font-weight: bold;
  // text-align: center;
  // bottom: 50%;

}

.holita {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 50vh;
  transform: translateX(-50%);
  z-index: 2;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}